# Ignore everything by default
*

# Allow NN model, data creation, and DT model directories and their contents
!NN model/
!NN model/**
!dataset creation/
!dataset creation/**
!DT_model/
!DT_model/**

# Allow important files
!.gitignore
!README.md
!requirements.txt
